<!DOCTYPE html>
<html>
  <head>
    <title>Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      #banner{
        width:100%;
        height:260px;
      }
    </style>
  </head>
  <body>
    {%include 'nav.html'%}
    <img class="img-fluid" id="banner" src="https://career-website.ashwini1507.repl.co/static/banner.jpg">
    <div class="container">
      <h1 class="mt-2 mb-2" ><center>Data Science careers</center></h1>
      <p class="lead">Career growth is the journey towards your big-picture career vision. It's the way you move from your first job out of college to eventually leading your own team. Data science was named the fastest-growing job in 2017 by LinkedIn, and in 2018 Glassdoor ranked data scientist as the best jobin the United States. Furthermore, a recent study by PriceWaterhouseCoopers states: “The best jobs right now in America include titles like data scientist, data engineer, and business analyst.”</p>
      <h2><center>Job Openings</center></h2>
      <div>
        {%for job in jobs%}
          {%include 'jobs.html'%}
        {%endfor%}
      </div>
      <div style="text-align:center">
        <a href="mailto:ashwinishetti15@gmail.com?subject=Help%20regarding%20career%20website&body=Hi%2C%0D%0ACandidate%20name%3A%0D%0AProblem%20Statement%3A" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {%include 'footer.html'%}
  </body>
</html>