<!DOCTYPE html>
<html>
  <head>
    <title>Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      #banner{
        width:100%;
        height:260px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-2 mb-auto" ><center>Jovian careers</center></h1>
      <img class="img-fluid" id="banner" src="https://career-website.ashwini1507.repl.co/static/banner.jpg">
      <h2><center>About Jovian Careers</center></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2><center>Open Positions</center></h2>
      <div>
        {%for job in jobs%}
          {%include 'jobs.html'%}
        {%endfor%}
      </div>
      <div style="text-align:center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-2 mb-auto">Copyright 2022, Jovian</p>
      </div>
    </div>
  </body>
</html>